-----
# Python Basics Tutorial – EXPLANATION & NOTES

<details>
<summary><strong>Overview</strong></summary>

This Jupyter Notebook serves as an **introductory tutorial to basic Python concepts**:

- Variable assignment and reassignment  
- Data types: int, float, str, complex, bool  
- Arithmetic operations and type conversion  
- Type checking using `type()`  
- String operations and concatenation  
- Boolean arithmetic  
- Handling user input and errors  

The notebook is structured as a sequence of code cells illustrating each concept, including intentional errors for learning.

</details>

<details>
<summary><strong>Cell-wise Purpose and Workflow</strong></summary>

- **Cells 1-4:** Basic output and arithmetic (`print()`, simple math)  
- **Cells 5-15:** Variable assignment and data types; demonstrate int, str, complex numbers, type checking  
- **Cells 16-22:** String handling and common syntax errors (missing quotes, invalid operators)  
- **Cells 23-31:** Variable reassignment and display; dynamic typing  
- **Cells 32-39:** Multiple assignment (unpacking)  
- **Cells 40-49:** Unpacking errors and complex number attributes  
- **Cells 50-53:** String concatenation and type conversion  
- **Cells 54-58:** Boolean arithmetic (True=1, False=0)  
- **Cells 59-68:** User input and type conversion with `input()`, `int()`, `float()`  

Workflow progresses from **simple to complex**, with examples illustrating errors, dynamic typing, and type conversions.

</details>

<details>
<summary><strong>Function-wise Explanation</strong></summary>

No custom functions are defined in this notebook; all operations are top-level.

**Built-in functions used:**

- `print()` – outputs text to the console  
- `type()` – returns the type of a variable  
- `input()` – reads user input as a string  
- `int()` / `float()` – converts string to numeric types  
- `str()` – converts numbers to string for concatenation  

</details>

<details>
<summary><strong>Algorithm & Logic Explanation</strong></summary>

- Demonstrates **linear progression** from simple outputs to complex variable operations  
- Highlights **dynamic typing**: variables can change type after reassignment  
- Arithmetic and concatenation follow Python rules; errors illustrate type mismatches  
- User input requires type conversion to perform arithmetic operations  

</details>

<details>
<summary><strong>Best Practices and Improvements</strong></summary>

- Use **descriptive variable names** (`number1`, `text`) instead of `a`, `b`  
- Add **error handling**: wrap `int(input())` in try-except blocks  
- Maintain **consistent formatting**: spaces around operators, readable code  
- Use **docstrings or comments** at the top of cells for clarity  
- Avoid frequent reassignment of variables; use new variables to reduce confusion  
- Validate **user inputs** before performing operations  

</details>

<details>
<summary><strong>Common Mistakes and Pitfalls</strong></summary>

- Missing quotes for strings (`e = abc` → `e = "abc"`)  
- Invalid syntax (`*a = 10`)  
- Mixing incompatible types without conversion (`a + "4"`)  
- Unpacking mismatches: number of variables ≠ number of values  
- Forgetting type conversion for `input()` results in ValueError  

</details>

<details>
<summary><strong>Data Processing Explanations</strong></summary>

- Basic operations on **primitive types** (int, str, float, complex, bool)  
- Type conversion is key for operations like string concatenation or arithmetic  
- No advanced data processing (like Pandas or NumPy) in this notebook  

</details>

<details>
<summary><strong>Debugging Hints and Error Fixes</strong></summary>

- `NameError`: Check variable names or missing quotes  
- `SyntaxError`: Look for invalid operators or missing colons  
- `TypeError`: Ensure compatible types; use `int()`, `str()`, etc.  
- `ValueError`: Ensure correct number of values in unpacking or type conversion  
- Use `print()` to inspect variables  
- Run cells individually to isolate errors  

</details>

<details>
<summary><strong>Performance or Optimization Tips</strong></summary>

- For small scripts, performance is not a concern  
- Avoid unnecessary reassignments to reduce memory usage  
- Use meaningful variable names for maintainability  
- For large lists, consider list comprehensions or vectorized operations  

</details>

<details>
<summary><strong>Project Folder Structure and Workflow</strong></summary>

- Single notebook in `python/` folder  
- Workflow: Execute cells sequentially → Learn concepts → Fix errors  
- Organize similar notebooks in subfolders (`basics/`, `advanced/`)  
- Version control: Use Git for tracking changes  

</details>

-----

# Basic Python Concepts

<details>
<summary><strong>Overview</strong></summary>

This notebook introduces fundamental Python programming concepts, including:

- Printing output and basic arithmetic operations  
- Variable assignment and data types (integers, strings, complex numbers, booleans)  
- Type checking using the `type()` function  
- Handling errors and exceptions in code  
- String concatenation and type conversion  
- Boolean arithmetic and user input

**Note:** This code contains intentional errors for educational purposes to demonstrate common mistakes. In a real scenario, these would be fixed to avoid runtime exceptions.

</details>

-----
### Cell 1: Importing the Zen of Python

In [1]:
import this  # Imports the 'this' module, which prints the Zen of Python (PEP 20) - a collection of guiding principles for Python programming

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Cell 2: Basic print statement

In [2]:
print("this is my first program")  # Prints the string "this is my first program" to the console. This is a simple output statement.
# The code demonstrates basic Python syntax and the use of the print function to display output.

this is my first program

### Cell 3: Arithmetic operations

In [3]:
1 + 2  # Performs addition: 1 + 2 = 3. In Jupyter, the result is displayed automatically.
3 / 2  # Performs division: 3 divided by 2 = 1.5
5 * 6  # Performs multiplication: 5 times 6 = 30.
7 - 4  # Performs subtraction: 7 minus 4 = 3.
# The code covers basic arithmetic operations.
# Each operation is performed, and in a Jupyter notebook, the result of the last operation is displayed automatically.

3

### Cell 4: Division operation

In [4]:
3 / 7  # Performs division: 3 divided by 7 = 0.42857142857142855. Note: In Python 3, / always returns a float.

0.42857142857142855

-----
### Cell 5: Variable assignment

In [5]:
a = 1234  # Assigns the integer value 1234 to variable 'a'. Variables store data for later use.

### Cell 6: Another variable assignment

In [6]:
b = 5678  # Assigns the integer value 5678 to variable 'b'.
# Variables are used to store data that can be referenced and manipulated later in the code.

### Cell 7: Displaying variable value

In [7]:
a  # Displays the value of 'a', which is 1234.

1234

### Cell 8: Displaying variable value

In [8]:
b  # Displays the value of 'b', which is 5678.
# In Jupyter, simply typing the variable name will display its value.

5678

### Cell 9: Type checking

In [9]:
type(a)  # Returns the data type of 'a', which is <class 'int'> (integer).

int

### Cell 10: Type checking

In [10]:
type(b)  # Returns the data type of 'b', which is <class 'int'> (integer).
# The type() function is used to check the data type of a variable.

int

### Cell 11: String variable assignment

In [11]:
c = "abcd"  # Assigns the string "abcd" to variable 'c'. Strings are sequences of characters.

### Cell 12: Type checking for string

In [12]:
type(c)  # Returns the data type of 'c', which is <class 'str'> (string).
# The type() function confirms that 'c' is of string type.

str

### Cell 13: Complex number assignment

In [13]:
d = 5 + 6j  # Assigns a complex number (5 + 6i) to 'd'. 'j' represents the imaginary unit.

### Cell 14: Type checking for complex number

In [14]:
type(d)  # Returns <class 'complex'>, indicating that 'd' is a complex number.
# Complex numbers have a real part and an imaginary part, and are used in advanced mathematical computations.

complex

### Cell 15: Displaying complex number

In [15]:
d  # Displays the complex number: (5+6j).
# In Jupyter, typing the variable name 'd' will display its value.
# Complex numbers are useful in various fields such as engineering and physics.

(5+6j)

-----
### Cell 16: Attempted variable assignment (Error: NameError)

In [16]:
e = abcdefghijkl  # ERROR: 'abcdefghijkl' is not defined. This will raise a NameError because it's treated as a variable name, not a string. 
# Fix: Use quotes: e = "abcdefghijkl"
# Error Example: Undefined Variable
# Demonstrates NameError when using undefined variable.

NameError: name 'abcdefghijkl' is not defined

### Cell 17: Correct string assignment

In [17]:
f = "abcdefghijklmn"  # Assigns the string "abcdefghijklmn" to 'f'.
# Correct way to assign a string.

### Cell 18: Displaying string

In [18]:
f  # Displays the string.
# In Jupyter, typing the variable name 'f' will display its value.

'abcdefghijklmn'

### Cell 19: Boolean assignment

In [19]:
g = True  # Assigns the boolean value True to 'g'. Booleans represent True or False.

### Cell 20: Type checking for boolean

In [20]:
type(g)  # Returns the data type of 'g', which is <class 'bool'> (boolean).

bool

### Cell 21: Attempted assignment (Error: SyntaxError)

In [21]:
*a = 10  # ERROR: SyntaxError - cannot assign to operator '*'. This is invalid syntax. 
# Fix: Use a valid variable name, e.g., a = 10
# Error Example: Invalid Assignment
# Demonstrates SyntaxError with invalid variable name.

SyntaxError: starred assignment target must be in a list or tuple (650567682.py, line 1)

### Cell 22: Valid variable assignment

In [22]:

_a = 10  # Assigns 10 to '_a'. 
# Variable names can start with underscore.
# Valid Underscore Variable

-----
### Cell 23: Displaying variable

In [23]:
a  # Displays current value of 'a' (from earlier assignment).

1234

### Cell 24: Reassigning variable

In [24]:
a = 11  # Reassigns 'a' to 11. Variables can be reassigned.

### Cell 25: Displaying updated variable

In [25]:
a  # Displays updated value of 'a', which is now 11.
# Reassigning Variables
# Changing values of existing variables.

11

### Cell 26: Another reassignment

In [26]:
a = 1234  # Reassigns 'a' back to 1234.
# Variables can hold different data types.

### Cell 27: String assignment to 'b'

In [27]:
b = "abcdef"  # Reassigns 'b' to string "abcdef".

### Cell 28: Complex number to 'c'

In [28]:
c = 6 + 5j  # Reassigns 'c' to complex number.

### Cell 29: Boolean to 'd'

In [29]:
d = True  # Reassigns 'd' to boolean.

### Cell 30: Float to 'e'

In [30]:
e = 123.5  # Assigns float 123.5 to 'e'.

### Cell 31: Displaying 'a'

In [31]:
a  # Displays 1234.

1234

-----
### Cell 32: New variable

In [32]:
a1 = 123  # Assigns 123 to 'a1'.

### Cell 33: Addition of variables

In [33]:
a + a1  # Adds 'a' (1234) and 'a1' (123) = 1357.

1357

### Cell 34: Multiple assignment (unpacking)

In [34]:
a, b, c, d, e = 123, "abc", 1 + 5j, False, 125.5  # Unpacks values into variables. All variables get assigned correctly.

### Cell 35-39: Displaying variables

In [35]:
a  # 123

123

In [36]:
b  # "abc"

'abc'

In [37]:
c  # (1+5j)

(1+5j)

In [38]:
d  # False

False

In [39]:
e  # 125.5

125.5

-----
### Cell 40: Unpacking with fewer values (Error: ValueError)

In [40]:
a, b, c, d, e = 123, "abc", 1 + 5j, False  # ERROR: ValueError - too few values to unpack. Need 5 values for 5 variables.
# Fix: Provide 5 values or use fewer variables.
# Error Example: Unpacking Mismatch
# Too few values cause a ValueError.

ValueError: not enough values to unpack (expected 5, got 4)

### Cell 41-45: Attempting to display (will error if previous fails)

In [41]:
a

123

In [42]:
b

'abc'

In [43]:
c

(1+5j)

In [44]:
d

False

In [45]:
e

125.5

### Cell 46: Type of 'c'

In [46]:
type(c)  # If 'c' is assigned, returns <class 'complex'>.
# Complex Number Attributes

complex

### Cell 47: Imaginary part of complex

In [47]:
c.imag  # Returns imaginary part: 5.0 (if 'c' is 1+5j).
# Accessing imaginary parts of complex number 'c'.

5.0

### Cell 48: Real part of complex

In [48]:
c.real  # Returns real part: 1.0.
# Accessing real parts of complex number 'c'.

1.0

### Cell 49: Displaying 'b'

In [49]:
b  # Displays current 'b'.

'abc'

-----
### Cell 50: String assignment

In [50]:
a = "abcde"  # Reassigns 'a' to string.

### Cell 51: String + int (Error: TypeError)

In [51]:
a + 4  # ERROR: TypeError - cannot concatenate str and int.
# Fix: Convert int to str: a + str(4)
# Error Example: String + int (TypeError)
# Demonstrates TypeError when combining string and integer.

TypeError: can only concatenate str (not "int") to str

### Cell 52: String concatenation

In [52]:
a + "4"  # Concatenates "abcde" + "4" = "abcde4"
# String Concatenation
# Combining strings using + operator.

'abcde4'

### Cell 53: String + converted int

In [53]:
a + str(4)  # Converts 4 to "4", then concatenates: "abcde4"
# String + Converted int
# Converts integer to string before concatenation.

'abcde4'

-----
### Cell 54-58: Boolean arithmetic
- Booleans behave like integers (True=1, False=0).

In [54]:
True + True  # 1 + 1 = 2 (True is 1, False is 0)

2

In [55]:
True + False  # 1 + 0 = 1

1

In [56]:
False + False  # 0 + 0 = 0
# False + True  # 0 + 1 = 1

0

In [57]:
True - True  # 1 - 1 = 0
# True - False  # 1 - 0 = 1

0

In [58]:
2 - True  # 2 - 1 = 1
# 2 - False  # 2 - 0 = 2

1

-----
### Cell 59: User input

In [59]:
input()  # Prompts user for input, returns string. No prompt message.
# User Input
# Takes input from the user (always string).

 abcd

'abcd'

### Cell 60: Assigning input to 'a'

In [60]:
a = input()  # Assigns user input to 'a' as string.

 abcdef

### Cell 61: Displaying 'a'

In [61]:
a  # Displays the input.
# Cell 59: User input
# Cell 60: Assigning input to 'a'
# Cell 61: Displaying 'a'

'abcdef'

### Cell 62: Assigning 'b'

In [62]:
b = 10  # Assigns 10 to 'b'.

### Cell 63: String + int (Error: TypeError)

In [63]:
a + b  # ERROR: If 'a' is string from input, TypeError.
# Fix: Convert 'a' to int if numeric.

TypeError: can only concatenate str (not "int") to str

### Cell 64: Another input

In [64]:
a = input()  # Reassigns 'a' with new input.

 1234

### Cell 65: Displaying 'a'

In [65]:
a     # Displays string input

'1234'

### Cell 66: String + int (Error)

In [66]:
a + b  # Same error as above.
# Fix by converting string to int.

TypeError: can only concatenate str (not "int") to str

### Cell 67: Converting and adding

In [67]:
int(a) + b  # Converts 'a' to int, then adds to 'b'. Assumes 'a' is numeric string.
# int(a)  # Converts 'a' to integer.
# Converting Input to Integer

1244

### Cell 68: Converting string to int

In [68]:
int('23232')  # Converts string "23232" to integer 23232.
# Converting String to Integer
# Example of explicit conversion.

23232

-----