---
# Python Tuples, Sets & Dictionaries â€“ EXPLANATION & NOTES

<details>
<summary><strong>Overview</strong></summary>

This notebook introduces core Python data structures:

- **Tuples:** Ordered, immutable sequences  
- **Sets:** Unordered, unique collections (hashable elements only)  
- **Dictionaries:** Key-value mappings with hashable keys  

Covers creation, operations, mutability, common errors, and best practices for each.

</details>

<details>
<summary><strong>Cell-wise Purpose and Workflow</strong></summary>

- **Sections 1-4:** Tuple creation, slicing, and immutability vs lists  
- **Sections 5-7:** Creating sets from lists, adding/removing elements, handling errors with unhashables  
- **Sections 8-11:** Dictionary basics, accessing keys and values, modifying entries  
- **Sections 12-14:** Complex keys, access methods (`get()`), updates, creating dicts with `fromkeys()`  

Workflow: Starts with simple structures, highlights differences in mutability, moves to operations and error handling.

</details>

<details>
<summary><strong>Function-wise Explanation</strong></summary>

**Built-in functions/methods used:**

- **Tuples:** `type()`, slicing `[start:stop:step]`, `count()`, `index()`  
- **Sets:** `add()`, `remove()`, `discard()`  
- **Dictionaries:** `keys()`, `values()`, `items()`, `get()`, `update()`, `fromkeys()`  

Purpose:  
- Input: Tuples, sets, dicts  
- Processing: Access, modify, check existence  
- Output: Values, indices, or transformed collections  

</details>

<details>
<summary><strong>Algorithm & Logic Explanation</strong></summary>

- **Tuples:** Ordered, immutable; elements cannot be changed after creation  
- **Sets:** Unordered, unique; only hashable elements allowed  
- **Dictionaries:** Key-value mapping; keys must be hashable; values can be any type  
- Operations demonstrate how Python handles immutability and uniqueness, and how key-value access works efficiently  

</details>

<details>
<summary><strong>Best Practices and Improvements</strong></summary>

- Use **tuples** for fixed data; **lists** for mutable sequences  
- Use **sets** for uniqueness; **dicts** for fast lookups  
- Handle errors carefully: check hashability for sets/dict keys  
- Use `get()` for safe dictionary access to avoid `KeyError`  
- Avoid using mutable objects as dict keys or set elements  

</details>

<details>
<summary><strong>Common Mistakes and Pitfalls</strong></summary>

- Attempting to modify tuples (immutable)  
- Using unhashable types as set elements or dict keys  
- Duplicate keys in dictionaries overwrite previous values  
- Indexing sets (not allowed) or trying to add (`+`) dicts  

</details>

<details>
<summary><strong>Data Processing Explanations</strong></summary>

- **Tuples/Sets:** Suitable for small collections and membership testing  
- **Dictionaries:** Efficient for key-value lookups; nesting allows handling complex data  

</details>

<details>
<summary><strong>Performance or Optimization Tips</strong></summary>

- Dictionary access is **O(1)** on average  
- Sets provide **fast membership testing**  
- Avoid storing large unhashable elements in sets/dicts  

</details>

<details>
<summary><strong>Debugging Hints</strong></summary>

- Use `type()` to verify data structure types  
- Catch and handle `KeyError` or `TypeError` where applicable  
- Test operations step-by-step for immutables and unhashables  

</details>

<details>
<summary><strong>Encouragement</strong></summary>

Great work practicing these fundamental data structures!  
Understanding **immutability, uniqueness, and key-value logic** is essential for Python programming and data science. Keep experimenting with small examples to build confidence.

</details>

-----
### Tuple, Set, and Dictionary Notebook

This notebook explores Python's core data structures:
- Tuples: Immutable ordered sequences
- Sets: Mutable unordered collections of unique elements
- Dictionaries: Mutable key-value mappings

Demonstrates creation, indexing, slicing, methods, and common operations/errors.

Note: Includes examples of immutability (tuples), uniqueness (sets), and key requirements (dicts).
      Errors like TypeError for invalid operations are shown for learning.

---
### Section 1: Tuple Basics
- Creating tuples, indexing, slicing, and basic operations.

In [1]:
t = (1, 2, 3, 4, 5)  # Creates tuple with integers

In [2]:
type(t)  # <class 'tuple'>

tuple

In [3]:
t1 = ("code", 258, 45 + 13j, 145.9, False)  # Mixed-type tuple

In [4]:
l = ["code", 258, 45 + 13j, 145.9, False]  # List equivalent

In [5]:
type(t1)  # <class 'tuple'>

tuple

In [6]:
type(l)  # <class 'list'>

list

In [7]:
t2 = ()  # Empty tuple

In [8]:
type(t2)  # <class 'tuple'>

tuple

In [9]:
t1  # ("code", 258, (45+13j), 145.9, False)

('code', 258, (45+13j), 145.9, False)

In [10]:
l  # ["code", 258, (45+13j), 145.9, False]

['code', 258, (45+13j), 145.9, False]

In [11]:
l[0:2]  # Slices list: ["code", 258]

['code', 258]

In [12]:
t1[0:2]  # Slices tuple: ("code", 258)

('code', 258)

In [13]:
t1[::-1]  # Reversed tuple

(False, 145.9, (45+13j), 258, 'code')

In [14]:
t1[-1]  # Last element: False

False

In [15]:
t1  # Original unchanged

('code', 258, (45+13j), 145.9, False)

In [16]:
t1[::2]  # Every other: ("code", (45+13j), False)

('code', (45+13j), False)

### Section 2: List vs Tuple Mutability

In [17]:
l  # ["code", 258, (45+13j), 145.9, False]

['code', 258, (45+13j), 145.9, False]

In [18]:
l1 = [1, 4, 7, 5, 9]  # New list

In [19]:
l[0]  # "code"

'code'

In [20]:
l[0] = "python"  # Modifies list (mutable)

In [21]:
l  # ["python", 258, (45+13j), 145.9, False]

['python', 258, (45+13j), 145.9, False]

In [22]:
t1  # ("code", 258, (45+13j), 145.9, False)

('code', 258, (45+13j), 145.9, False)

In [23]:
t1[0]  # "code"

'code'

In [24]:
t1[0] = "python"  # ERROR: TypeError - tuples are immutable.
# Fix: Convert to list, modify, convert back.
# list_t1 = list(t1)  # Convert to list
# list_t1[0] = "python"  # Modify list
# t1 = tuple(list_t1)  # Convert back to tuple
# t1  # ("python", 258, (45+13j), 145.9, False)

TypeError: 'tuple' object does not support item assignment

### Section 3: Tuple Operations

In [25]:
t2 = (12, 24, 55, 14, 77)  # New tuple

In [26]:
t1 + t2  # Concatenates: ("code", 258, (45+13j), 145.9, False, 12, 24, 55, 14, 77)

('code', 258, (45+13j), 145.9, False, 12, 24, 55, 14, 77)

In [27]:
l + l1  # Concatenates lists: ["python", 258, (45+13j), 145.9, False, 1, 4, 7, 5, 9]

['python', 258, (45+13j), 145.9, False, 1, 4, 7, 5, 9]

In [28]:
t1  # Original unchanged

('code', 258, (45+13j), 145.9, False)

In [29]:
t1 * 2  # Repeats: ("code", 258, (45+13j), 145.9, False, "code", 258, (45+13j), 145.9, False)

('code', 258, (45+13j), 145.9, False, 'code', 258, (45+13j), 145.9, False)

In [30]:
t1.count(258)  # Counts occurrences: 1

1

In [31]:
t1.index(258)  # Index of 258: 1

1

### Section 4: Nested Tuples

In [32]:
t = (74, 12, 33, 47, (8,9,14), ("code"))  # Nested tuple

In [33]:
t  # (74, 12, 33, 47, (8, 9, 14), "code")

(74, 12, 33, 47, (8, 9, 14), 'code')

In [34]:
t1 = ([1, 9, 4, 7], ("web", 123.5, True), "page")  # Tuple with mutable list

In [35]:
t1  # ([1, 9, 4, 7], ("web", 123.5, True), "page")

([1, 9, 4, 7], ('web', 123.5, True), 'page')

In [36]:
t1[0]  # [1, 9, 4, 7]

[1, 9, 4, 7]

In [37]:
t1[0][2]  # 4

4

In [38]:
t1[0][2] = "code"  # Modifies nested list (list is mutable)

In [39]:
t1  # ([1, 9, 'code', 7], ('web', 123.5, True), 'page')

([1, 9, 'code', 7], ('web', 123.5, True), 'page')

In [40]:
t1[0] = "program"  # ERROR: TypeError - cannot modify tuple element.
# Fix: t1 = list(t1); t1[0] = "program"; t1 = tuple(t1)

TypeError: 'tuple' object does not support item assignment

In [41]:
list(t1)  # Converts to list: [[1, 9, 'code', 7], ('web', 123.5, True), 'page']
# t1 = list(t1)  # Now t1 is a list

[[1, 9, 'code', 7], ('web', 123.5, True), 'page']

In [42]:
l = list(t1)  # Assigns

In [43]:
l  # [[1, 9, 'code', 7], ('web', 123.5, True), 'page']

[[1, 9, 'code', 7], ('web', 123.5, True), 'page']

In [44]:
l[0] = "program"  # Modifies list
l  # ["program", ("web", 123.5, True), "page"]

['program', ('web', 123.5, True), 'page']

In [45]:
tuple(l)  # Converts back: (program, ("web", 123.5, True), "page")

('program', ('web', 123.5, True), 'page')

---
### Section 5: Sets from Lists

In [46]:
l = [1, 2,4, 9, 17, 11, 15, 99, 9, 9, 3, 7, 9, 4, 15, 3, 7, 11, 85, 99, 1]  # List with duplicates

In [47]:
set(l)  # Converts to set, removes duplicates: {1, 2, 3, 4, 7, 9, 11, 15, 17, 85, 99}
# l = list(set(l))  # Now l is a list of unique elements

{1, 2, 3, 4, 7, 9, 11, 15, 17, 85, 99}

In [48]:
s = {}  # Empty dict, not set

In [49]:
type(s)  # <class 'dict'>

dict

In [50]:
s1 = {4, 9, 12}  # Set literal

In [51]:
type(s1)  # <class 'set'>

set

In [52]:
s2 = {9, 12, 15, 71, 33, 15, 199, 504,1, 9, 12, 15, 1, 9, 9, 12, 54, 123}  # Set with duplicates

In [53]:
s2  # {1, 9, 12, 15, 33, 54, 71, 123, 199, 504} (duplicates removed)

{1, 9, 12, 15, 33, 54, 71, 123, 199, 504}

In [54]:
s2[0]  # ERROR: TypeError - sets are unordered, no indexing.
# Fix: Use list(s2)[0] # Access first element via list conversion.

TypeError: 'set' object is not subscriptable

In [55]:
list(s2)  # Converts to list for indexing

[33, 1, 199, 71, 9, 12, 15, 54, 504, 123]

In [56]:
list(s2)[0]  # Access first element via list conversion

33

In [57]:
s2  # Unchanged

{1, 9, 12, 15, 33, 54, 71, 123, 199, 504}

In [58]:
s2.add(155)  # Adds 155

In [59]:
s2  # {1, 9, 12, 15, 33, 54, 71, 123, 155, 199, 504}

{1, 9, 12, 15, 33, 54, 71, 123, 155, 199, 504}

In [60]:
s2.add("code")  # Adds string

In [61]:
s2  # {1, 12, 123, 15, 155, 199, 33, 504, 54, 71, 9, 'code'}

{1, 12, 123, 15, 155, 199, 33, 504, 54, 71, 9, 'code'}

In [62]:
s2.add([5, 7, 99, 101, 123])  # ERROR: TypeError - lists are unhashable.
# Fix: Use tuple or frozenset
# s2.add(tuple([5, 7, 99, 101, 123]))  # Works with tuple
# s2.add(frozenset([5, 7, 99, 101, 123]))  # Works with frozenset
# s2  # Now contains the added element

TypeError: unhashable type: 'list'

In [63]:
s2.add({1, 4, 5, 9, 4, 5})  # ERROR: TypeError - sets are unhashable
# Fix: Use frozenset
# s2.add(frozenset({1, 4, 5, 9, 4, 5}))  # Works with frozenset
# s2  # Now contains the added element

TypeError: unhashable type: 'set'

In [64]:
s2.add({1:1, 2:4, 3:9})  # ERROR: TypeError - dicts are unhashable
# Fix: Use frozenset of items
# s2.add(frozenset({1:1, 2:4, 3:9}))  # Works with frozenset of items
# s2  # Now contains the added element

# Sets can only contain hashable (immutable) types like int, str, tuple.
# To add a mapping, consider using a tuple of tuples:
# Example: s2.add(((1, 1), (2, 4), (3, 9)))  # Adds a tuple of key-value pairs instead

# You can add tuples to a set, but only if the tuple itself contains only hashable types.
# Lists and dicts cannot be added to sets.

TypeError: unhashable type: 'dict'

In [65]:
s2.add((1, 5, 9, 15))  # Adds tuple (hashable)

In [66]:
s2  # {(1, 5, 9, 15), 1, 12, 123, 15, 155, 199, 33, 504, 54, 71, 9, 'code'}

{(1, 5, 9, 15), 1, 12, 123, 15, 155, 199, 33, 504, 54, 71, 9, 'code'}

### Section 6: Set Operations and Errors

In [67]:
{[1, 5, 8], 3, 4, 5, 5, 4, 3}  # ERROR: TypeError - unhashable list in set
# Sets in Python can only contain hashable (immutable) types.
# Lists are mutable and therefore unhashable, so they cannot be set elements.
# Fix: Use a tuple instead of a list:
# {(1, 5, 8), 3, 4, 5}

TypeError: unhashable type: 'list'

In [68]:
{(1, 5, 8), 3, 4, 5, 5, 4, 3}  # {(1, 5, 8), 3, 4, 5}

{(1, 5, 8), 3, 4, 5}

In [69]:
{(1, 5, 8), 3, 4, (1, 5, 8), 5, 5, 4, 3}  # {(1, 5, 8), 3, 4, 5}

{(1, 5, 8), 3, 4, 5}

In [70]:
s = {(1, 5, 8), 3, 4, (1, 5, 8), 5, 5, 4, 3}  # Assigns set

In [71]:
s  # {(1, 5, 8), 3, 4, 5}

{(1, 5, 8), 3, 4, 5}

In [72]:
s.remove(3)  # Removes 3
# s.remove(10)  # ERROR: KeyError - 10 not in set
# Fix: Use discard to avoid error if element not present

In [73]:
s  # {(1, 5, 8), 4, 5}

{(1, 5, 8), 4, 5}

In [74]:
s.discard(5)  # Removes 5 if present

In [75]:
s  # {(1, 5, 8), 4}

{(1, 5, 8), 4}

In [76]:
s.discard(1)  # 1 not present, no error

In [77]:
s  # {(1, 5, 8), 4}

{(1, 5, 8), 4}

In [78]:
s.remove(1)  # ERROR: KeyError - 1 not in set. Use discard for safe removal.

KeyError: 1

In [79]:
{"code", "Code"}  # {"Code", "code"} (case-sensitive)

{'Code', 'code'}

### Section 7: More Sets

In [80]:
s = {56, 4, 7, 9, 8, 7, 6, 9, "code", 55, 9, "code"}  # Mixed set

In [81]:
s  # {4, 55, 56, 6, 7, 8, 9, 'code'}

{4, 55, 56, 6, 7, 8, 9, 'code'}

In [82]:
l = [5, 7, 9, 2]  # List
# s = set(l)  # Converts list to set

In [83]:
set(l)  # {2, 5, 7, 9}

{2, 5, 7, 9}

---
### Section 8: Dictionaries Basics

In [84]:
d = {5, 8}  # Set, not dict

In [85]:
type(d)  # <class 'set'>

set

In [86]:
d = {1:1, 2:4, 3:"code"}  # Dict literal

In [87]:
d  # {1: 1, 2: 4, 3: "code"}

{1: 1, 2: 4, 3: 'code'}

In [88]:
type(d)  # <class 'dict'>

dict

In [89]:
d1 = {"k1":123, "k2":456, 12:[1, 5, 2.5, True]}  # Mixed keys/values

In [90]:
d1  # {"k1": 123, "k2": 456, 12: [1, 5, 2.5, True]}

{'k1': 123, 'k2': 456, 12: [1, 5, 2.5, True]}

In [91]:
l = [4, 5, 7, 9]  # List

In [92]:
l[0]  # 4

4

In [93]:
d1  # {"k1": 123, "k2": 456, 12: [1, 5, 2.5, True]}

{'k1': 123, 'k2': 456, 12: [1, 5, 2.5, True]}

In [94]:
d1['k2']  # 456

456

In [95]:
d1[12]  # [1, 5, 2.5, True]

[1, 5, 2.5, True]

In [96]:
d1["k2"]  # 456

456

In [97]:
d1["k1"]  # 123

123

### Section 9: Invalid Dict Keys

In [98]:
d = {#: 1}  # ERROR: SyntaxError - invalid key
# Fix: Use a valid key, e.g., string or number
# d = {"key": 1}  # Valid dict

SyntaxError: incomplete input (3206445300.py, line 3)

In [99]:
d = {@:5, 1:1}  # ERROR: SyntaxError - @ invalid
# Fix: Use a valid key, e.g., string or number
# d = {"at":5, 1:1}  # Valid dict   
# d = {"k 1":123, "k-2":456, 12:[1, 5, 2.5, True]}  # Valid keys with spaces/special chars

SyntaxError: invalid syntax (358885024.py, line 1)

In [100]:
d = {.4: 5}  # Valid float key

In [101]:
d  # {0.4: 5}

{0.4: 5}

In [102]:
# d = {_2: 5} 
# d = {"_2": 5}  # Valid key as string

In [103]:
d = {2_: 5}  # ERROR: NameError - 2_ undefined
# Fix: d = {"2_": 5}  # Valid key as string
# Keys can be strings, numbers, or valid variable names.

# Variable names cannot start with a digit, so 2_ is not valid. Use quotes to make it a string key.
# d = {"2_": 5}
# If you want to use a variable, define it first:
# 2_ = 5  # ERROR: SyntaxError - variable names cannot start with a digit

SyntaxError: invalid decimal literal (3402678795.py, line 1)

In [104]:
d  # If _2 defined, valid

{0.4: 5}

In [105]:
d = {_4: 125}  # ERROR: NameError
# Fix: Define _4 first or use string key

NameError: name '_4' is not defined

In [106]:
d = {"l": [1, 2, 3], "t": (3, 4, 5), "s": {4, 5, 6}, "d": {1:1, 2:"code"}}  # Nested structures

In [107]:
d  # {"l": [1, 2, 3], "t": (3, 4, 5), "s": {4, 5, 6}, "d": {1: 1, 2: "code"}}

{'l': [1, 2, 3], 't': (3, 4, 5), 's': {4, 5, 6}, 'd': {1: 1, 2: 'code'}}

In [108]:
d1 = {"k1": [1, 2], "k2": "code", "k1": "python"}  # Duplicate key

In [109]:
d1  # {"k1": "python", "k2": "code"} (last value wins)

{'k1': 'python', 'k2': 'code'}

In [110]:
d1["k1"]  # "python"

'python'

In [111]:
d = {"++--": 155}  # Valid string key

In [112]:
d  # {"++--": 155}

{'++--': 155}

### Section 10: Complex Dict

In [113]:
d = {"name": "abc", "mob_no": 987654321, "mail_id": "xyz@email.com", "marks10": [88, 90, 78, 69, 82, 78], "marks12": {80, 85, 90, 95, 95, 65, 80, 85}, "grade": {"hindi": "A", "english": "A", "math": "B", "science": "S"}}  # Nested dict

In [114]:
d  # Full dict

{'name': 'abc',
 'mob_no': 987654321,
 'mail_id': 'xyz@email.com',
 'marks10': [88, 90, 78, 69, 82, 78],
 'marks12': {65, 80, 85, 90, 95},
 'grade': {'hindi': 'A', 'english': 'A', 'math': 'B', 'science': 'S'}}

In [115]:
type(d["marks10"])  # <class 'list'>

list

In [116]:
type(d["marks12"])  # <class 'set'>

set

In [117]:
d["marks10"]  # [88, 90, 78, 69, 82, 78]

[88, 90, 78, 69, 82, 78]

In [118]:
d["marks10"][2]  # 78

78

In [119]:
d.keys()    # dict_keys(['name', 'mob_no', 'mail_id', 'marks10', 'marks12', 'grade'])

dict_keys(['name', 'mob_no', 'mail_id', 'marks10', 'marks12', 'grade'])

In [120]:
d.values()  # dict_values(['abc', 987654321, 'xyz@email.com', [88, 90, 78, 69, 82, 78], {80, 65, 85, 90, 95}, {'hindi': 'A', 'english': 'A', 'math': 'B', 'science': 'S'}])

dict_values(['abc', 987654321, 'xyz@email.com', [88, 90, 78, 69, 82, 78], {80, 65, 85, 90, 95}, {'hindi': 'A', 'english': 'A', 'math': 'B', 'science': 'S'}])

In [121]:
d.items()  # dict_items([('name', 'abc'), ('mob_no', 987654321), ...])
# Each item is a (key, value) tuple

dict_items([('name', 'abc'), ('mob_no', 987654321), ('mail_id', 'xyz@email.com'), ('marks10', [88, 90, 78, 69, 82, 78]), ('marks12', {80, 65, 85, 90, 95}), ('grade', {'hindi': 'A', 'english': 'A', 'math': 'B', 'science': 'S'})])

In [122]:
type(d.items())  # <class 'dict_items'>
# list(d.items())  # Converts to list of tuples

dict_items

### Section 11: Dict Modification

In [123]:
d = {"k1": 1, "k2": 5, "k3": 10}  # New dict
# d["k2"] = 15  # Modifies existing key

In [124]:
d  # {"k1": 1, "k2": 5, "k3": 10}

{'k1': 1, 'k2': 5, 'k3': 10}

In [125]:
d["k4"] = 15  # Adds key-value

In [126]:
d  # {"k1": 1, "k2": 5, "k3": 10, "k4": 15}

{'k1': 1, 'k2': 5, 'k3': 10, 'k4': 15}

In [127]:
d[2] = "two"  # Adds numeric key

In [128]:
d  # {"k1": 1, "k2": 5, "k3": 10, "k4": 15, 2: "two"}

{'k1': 1, 'k2': 5, 'k3': 10, 'k4': 15, 2: 'two'}

In [129]:
d[2] = "todo"  # Updates value

In [130]:
d  # {"k1": 1, "k2": 5, "k3": 10, "k4": 15, 2: "todo"}

{'k1': 1, 'k2': 5, 'k3': 10, 'k4': 15, 2: 'todo'}

In [131]:
del d[2]  # Deletes key

In [132]:
d  # {"k1": 1, "k2": 5, "k3": 10, "k4": 15}

{'k1': 1, 'k2': 5, 'k3': 10, 'k4': 15}

In [133]:
del d["k2"]  # Deletes key

In [134]:
d  # {"k1": 1, "k3": 10, "k4": 15}

{'k1': 1, 'k3': 10, 'k4': 15}

In [135]:
del d  # Deletes dict

In [136]:
d  # ERROR: NameError - d deleted
# Fix: Recreate d if needed

NameError: name 'd' is not defined

---
### Section 12: Dict with Complex Keys

In [137]:
d1 = {[1, 2, 3]: "list"}  # ERROR: TypeError - list unhashable
# Fix: Use tuple or frozenset as key
# d1 = {(1, 2, 3): "tuple"}  # Works
# d1 = {frozenset([1, 2, 3]): "frozenset"}  # Works
# d1  # Now valid

TypeError: unhashable type: 'list'

In [138]:
d2 = {(1, 5, 3): "tuple"}  # Valid tuple key

In [139]:
d2  # {(1, 5, 3): "tuple"}

{(1, 5, 3): 'tuple'}

In [140]:
d  # ERROR: NameError
# Fix: Recreate d if needed

NameError: name 'd' is not defined

In [141]:
d = {"k1": "code", "k2": "python", "k3": [1, 5, 9, 3], (1, 4, 7): "tuple"}  # Mixed keys

In [142]:
d  # {"k1": "code", "k2": "python", "k3": [1, 5, 9, 3], (1, 4, 7): "tuple"}

{'k1': 'code', 'k2': 'python', 'k3': [1, 5, 9, 3], (1, 4, 7): 'tuple'}

In [143]:
d.get()  # ERROR: TypeError - get needs key
# Fix: Provide a key to get its value

TypeError: get expected at least 1 argument, got 0

In [144]:
d.get("k2")  # "python"
# d.get("k5")  # None (key not present, no error)
# You can provide a default value as second argument to get()
# d.get("k5", "default")  # "default" if k5 not present

'python'

In [145]:
d["k2"]  # "python"

'python'

In [146]:
d.get("k5")  # None (safe access)

In [147]:
d["k5"]  # ERROR: KeyError
# Fix: Use get for safe access

KeyError: 'k5'

### Section 13: Dict Updates

In [148]:
d1 = {"k1": "code", "k2": "python", "k3": "library"}  # Dict
d2 = {"k4": "language", "k5": "machine", "k6": 789}  # Another dict

In [149]:
d1.update(d2)  # Merges d2 into d1

In [150]:
d1  # {"k1": "code", "k2": "python", "k3": "library", "k4": "language", "k5": "machine", "k6": 789}

{'k1': 'code',
 'k2': 'python',
 'k3': 'library',
 'k4': 'language',
 'k5': 'machine',
 'k6': 789}

In [151]:
d2  # Unchanged

{'k4': 'language', 'k5': 'machine', 'k6': 789}

In [152]:
d1 + d2  # ERROR: TypeError - no + for dicts. Use update or {**d1, **d2}
# Fix: Use update or dict unpacking
# {**d1, **d2}  # Merges into new dict

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### Section 14: fromkeys

In [153]:
key = ("name", "roll_no", "mob_no", "email_id")  # Tuple keys
value = "xyz"  # Single value

In [154]:
d = d1.fromkeys(key, value)  # Creates dict with keys from tuple, value "xyz"

In [155]:
d  # {"name": "xyz", "roll_no": "xyz", "mob_no": "xyz", "email_id": "xyz"}

{'name': 'xyz', 'roll_no': 'xyz', 'mob_no': 'xyz', 'email_id': 'xyz'}

In [156]:
key = ("name", "roll_no", "mob_no", "email_id")
value = "xyz", "abc"  # Tuple value

In [157]:
d = d1.fromkeys(key, value)  # All keys get same tuple value

In [158]:
d  # {"name": ("xyz", "abc"), "roll_no": ("xyz", "abc"), "mob_no": ("xyz", "abc"), "email_id": ("xyz", "abc")}

{'name': ('xyz', 'abc'),
 'roll_no': ('xyz', 'abc'),
 'mob_no': ('xyz', 'abc'),
 'email_id': ('xyz', 'abc')}

-----