In [1]:
a = 15

In [2]:
a < 30

True

In [3]:
if a < 30:
    print("fifteen")

fifteen

In [4]:
if a < 30
    print("fifteen")

SyntaxError: expected ':' (626556469.py, line 1)

In [5]:
if a < 30:

SyntaxError: incomplete input (571335576.py, line 1)

In [6]:
if a < 30:
    pass

In [7]:
if a > 30:
    print("False")

In [8]:
if 10 < 5:
    print("10 is less than 5")
else:
    print("if statment is wrong")

if statment is wrong

In [11]:
if 10 < 5:
    print("10 is less than 5")
else:
print("if statment is wrong")

IndentationError: expected an indented block after 'else' statement on line 3 (533213351.py, line 4)

In [12]:
income = 1000
if income < 500:
    print("i will buy books")
elif income < 700:
    print("i will buy reference books")
elif income < 900:
    print("i will buy coding books")
else:
    print("i wont be able to buy anything")

i wont be able to buy anything

In [13]:
income = int(input())
if income < 500:
    print("i will buy books")
elif income < 700:
    print("i will buy reference books")
elif income < 900:
    print("i will buy coding books")
else:
    print("i wont be able to buy anything")

 600

i will buy reference books

In [14]:
total_price = int(input())
if total_price > 20000:
    discount = total_price * 0.2
    print("discount will be", discount)
elif total_price <= 7000:
    discount = total_price * 0.05
    print("discount will be", discount)
else:
    print("wont be able to give any discount")

 6500

discount will be 325.0

In [15]:
total_price = int(input())
if total_price > 20000:
    discount = total_price * 0.2
    print("discount will be", discount)
elif total_price <= 7000:
    discount = total_price * 0.05
    print("discount will be", discount)
else:
    print("wont be able to give any discount")

 10000

wont be able to give any discount

In [18]:
coup = input()
if coup == "CODE55":
    print("you will be able to get a discount of 5%")
    paid_amount = 7080 * 0.95
    print("you will be able to get onetech with this amount", paid_amount)
else:
    ("kindly use a valid coupoun code")

 CODE55

you will be able to get a discount of 5%
you will be able to get onetech with this amount 6726.0

In [19]:
study_hour = int(input())
if study_hour < 1:
    print("it may take 8-9 month of time to make a transition")
elif study_hour < 4 and study_hour >1:
    print("it may take 6 month for transition")
elif study_hour > 10:
    print("it will take 3 month of time for transition")
else:
    print("it will be difficult")

 2

it may take 6 month for transition

In [21]:
study_hour = float(input())
if study_hour < 1 & study_hour > 0.5:
    print("you may succeed")
elif study_hour < 6 and study_hour > 1:
    print("succeed")
else:
    print("fail")

 3

TypeError: unsupported operand type(s) for &: 'int' and 'float'

In [22]:
study_hour = float(input())
if study_hour < 1 and study_hour > 0.5:
    print("you may succeed")
elif study_hour < 6 and study_hour > 1:
    print("succeed")
else:
    print("fail")

 3

succeed

In [23]:
a = 10
if a == 10: print("valid")

valid

In [24]:
a = 10
if a == 10:
    print("valid")

valid

In [27]:
s = input("enter a string to start")
if s == "onetech":
    course = input("enter a course name")
    if course == "DSA":
        print("yes, its available under onetech and in multiple mode for job prepration and core concept")
    elif course == "Blockchain":
        print("this is not available as of now, kindly raise your demand and we will fulfil in 60 days")
    elif course == "FSDS":
        print("yes, its abailable, you can start learning")
    else:
        print("this course is not available, kindly raise your demand")
elif s == "onetechservice":
    service = input("enter a service name")
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days")
    elif service == "module":
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 30 days")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise demand to work with our team; our HR will evaluate and get back to you in 24 hours")
    else:
        print("kindly provide us your feedback and we will fulfil")
else:
    print("kindly connect with our team")

enter a string to start onetechservice
enter a service name doubt

*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 30 days

In [28]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [29]:
s = "onetech"
for i in s:
    print(i)

o
n
e
t
e
c
h

In [30]:
t = (1, 2, 3, 4, 5, 6, 7)
for i in t:
    print(i)

1
2
3
4
5
6
7

In [31]:
l = [2, 5, 7, 4.1, 5+9j, "code", False]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [32]:
l = [2, 5, 7, 4.1, 5+9j, "code", False]
for i in l:
    print(type(i), "type of ", i)

<class 'int'> type of  2
<class 'int'> type of  5
<class 'int'> type of  7
<class 'float'> type of  4.1
<class 'complex'> type of  (5+9j)
<class 'str'> type of  code
<class 'bool'> type of  False

In [33]:
l = [4, 8, 9, 11, 44, 45, 55]
for i in l:
    print(i + 2)

6
10
11
13
46
47
57

In [35]:
l = [4, 8, 9, 11, 44, 45, 55]
l1 = []
for i in l:
    l1.append(i + 2)
print(l1)

[6, 10, 11, 13, 46, 47, 57]

In [36]:
l = [1, 45, 44, 99, "code", 4 + 7j, (5, 9, 88), "python", [585, 6985, 12, 56]]
for i in l:
    if type(i) == int:
        print(i)

1
45
44
99

In [38]:
l = [1, 45, 44, 99, "code", 4 + 7j, (5, 9, 88), "python", [585, 6985, "list", 12, 56]]
for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
                print(j)

1
45
44
99
585
6985
12
56

In [39]:
l = [1, 45, 44, 99, "code", 4 + 7j, (5, 9, 88), "python", [585, 6985, "list", 12, 56]]
for i in l:
    print(l.index(i))

0
1
2
3
4
5
6
7
8

In [51]:
l = [1, 45, 44, 99, "code", 4 + 7j, (5, 9, 88), "python", [585, 6985, "list", 12, 56]]
for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)

['c', 'o', 'd', 'e']
['p', 'y', 't', 'h', 'o', 'n']

In [45]:
l = [1, 45, 44, 99, "code", 4 + 7j, (5, 9, 88), "python", [585, 6985, "list", 12, 56]]
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i ** 2)
    elif type(i) == list or type(i) == tuple:
        for j in i:
            if type(j) == int:
                l1.append(j ** 2)
print(l1)

[1, 2025, 1936, 9801, 25, 81, 7744, 342225, 48790225, 144, 3136]

In [47]:
l = [1, 45, 44, 44, 99, 99, 99, "code", 4 + 7j, (5, 9, 88), "python", [585, 6985, "list", 12, 56]]
for i in l:
    print(l.index(i))

0
1
2
2
4
4
4
7
8
9
10
11

In [48]:
l = [1, 45, 44, 44, 99, 99, 99, "code", 4 + 7j, (5, 9, 88), "python", [585, 6985, "list", 12, 56]]
for i in range(len(l)):
    print("index", i, "for an element ", l[i])

index 0 for an element  1
index 1 for an element  45
index 2 for an element  44
index 3 for an element  44
index 4 for an element  99
index 5 for an element  99
index 6 for an element  99
index 7 for an element  code
index 8 for an element  (4+7j)
index 9 for an element  (5, 9, 88)
index 10 for an element  python
index 11 for an element  [585, 6985, 'list', 12, 56]

In [49]:
l = [1, 45, 44, 44, 99, 99, 99, "code", 4 + 7j, (5, 9, 88), "python", [585, 6985, "list", 12, 56]]
for i in enumerate(l):
    print(i)

(0, 1)
(1, 45)
(2, 44)
(3, 44)
(4, 99)
(5, 99)
(6, 99)
(7, 'code')
(8, (4+7j))
(9, (5, 9, 88))
(10, 'python')
(11, [585, 6985, 'list', 12, 56])