---
# Advanced Python Features – EXPLANATION & NOTES

<details>
<summary><strong>Overview</strong></summary>

This notebook explores **advanced Python features**:

- Variable arguments: `*args` (positional), `**kwargs` (keyword)  
- Lambda (anonymous) functions  
- List and dictionary comprehensions  
- Iterators and generators using `iter()` and `next()`  

Covers usage, best practices, and common pitfalls with examples.

</details>

<details>
<summary><strong>Cell-wise Purpose and Workflow</strong></summary>

- **Sections 1-8:** Using `*args` for variable positional arguments  
- **Sections 9-13:** Using `**kwargs` for variable keyword arguments, rules for order  
- **Sections 14-18:** Lambda functions, combining with `*args` and `**kwargs`, list/dict comprehensions  
- **Sections 19-21:** Variable scope, list/dict comprehensions in different contexts  
- **Sections 22-23:** Generators, iterators vs iterables, `iter()` and `next()` usage  

Workflow: Introduces flexible functions, anonymous expressions, concise data processing, and memory-efficient iteration. Each section includes examples and common errors for better understanding.

</details>

<details>
<summary><strong>Function-wise Explanation</strong></summary>

- `*args`: Collects multiple positional arguments into a **tuple**  
- `**kwargs`: Collects multiple keyword arguments into a **dictionary**  
- `lambda`: Defines **anonymous, single-expression functions**  
- **Comprehensions**: Build lists or dictionaries concisely without loops  
- `iter()`: Returns an iterator from an iterable  
- `next()`: Fetches the next item from an iterator  

</details>

<details>
<summary><strong>Algorithm & Logic Explanation</strong></summary>

- `*args` and `**kwargs` enable **flexible function calls** without predefining the number of arguments  
- Lambda functions allow **short, on-the-fly operations**  
- List and dict comprehensions replace loops for **concise collection creation**  
- Iterators allow **memory-efficient traversal** of large datasets; `next()` retrieves elements one at a time  

</details>

<details>
<summary><strong>Best Practices and Improvements</strong></summary>

- Use `*args` for variable positional inputs  
- Use `**kwargs` for variable keyword inputs  
- Keep lambda functions simple; prefer `def` for complex logic  
- Comprehensions improve readability over loops for simple transformations  
- Use iterators/generators for large data instead of loading everything into memory  

</details>

<details>
<summary><strong>Common Mistakes and Pitfalls</strong></summary>

- Argument order must be: positional → `*args` → keyword → `**kwargs`  
- Lambda functions **cannot contain statements**, only expressions  
- Calling `next()` on a non-iterator raises `TypeError`  
- Variable scope issues when using comprehensions or closures  
- Forgetting to convert iterables to iterators before using `next()`  

</details>

<details>
<summary><strong>Data Processing Explanations</strong></summary>

- Comprehensions allow **transforming lists/dicts concisely**  
- Iterators/generators handle **large datasets efficiently**, without creating full collections in memory  
- Example: `[x**2 for x in numbers if x%2==0]` for filtering and squaring  

</details>

<details>
<summary><strong>Performance or Optimization Tips</strong></summary>

- Comprehensions are **faster** than equivalent `for` loops  
- Generators and iterators reduce memory usage for large data  
- Avoid repeatedly calling `iter()` on the same iterable unnecessarily  

</details>

<details>
<summary><strong>Debugging Hints</strong></summary>

- Check types before using `next()` (`isinstance(obj, Iterator)`)  
- Use `print()` inside lambdas cautiously; prefer debugging with named functions  
- For comprehensions, print intermediate results to verify logic  
- Catch `StopIteration` when manually iterating with `next()`  

</details>

<details>
<summary><strong>Encouragement</strong></summary>

Great job exploring **advanced Python features**!  
Practice combining `*args`, `**kwargs`, lambdas, and comprehensions for real-world tasks.  
Use iterators and generators to handle **large datasets efficiently** and enhance your Python mastery.

</details>

---
### Advanced Functions, Lambda, List Comprehensions, Iterators Notebook

This notebook covers advanced Python concepts:
- *args and **kwargs for variable arguments
- Lambda functions
- List comprehensions
- Iterators and next()

Demonstrates flexible functions, concise expressions, and iteration.

Note: Includes syntax errors (e.g., invalid lambda) and type errors.
      Fix for proper execution.

---
### Section 1: Function with Multiple Parameters

In [1]:
def test (a, b, c, d, e):  # Define with 5 parameters
    return a, b, c, d, e  # Return tuple

In [2]:
test(125, 35, 1528, 127, 2)  # Call: (125, 35, 1528, 127, 2)

(125, 35, 1528, 127, 2)

### Section 2: *args for Variable Args

In [3]:
def test1(*args):  # Define with *args for variable args
# *args collects extra args as tuple
    return args

In [4]:
test1(147, 2589, 456, 212)  # (147, 2589, 456, 212)

(147, 2589, 456, 212)

In [5]:
test1("code", "python", 158, False, [54512, 454, "language"], (1512, 41, 58))  # Mixed types

('code', 'python', 158, False, [54512, 454, 'language'], (1512, 41, 58))

### Section 3: *args with Custom Name

In [6]:
def test2(*abc):  # Same as *args
    return abc

In [7]:
test2("code", "list", 454, True)  # ("code", "list", 454, True)

('code', 'list', 454, True)

### Section 4: *args with Keyword Args

In [8]:
def test3(*abcd, a):  # *abcd for positional, a for keyword
    return abcd, a

In [9]:
test3(345, 456, 752)  # ERROR: TypeError - a not provided
# Must provide keyword arg 'a'

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [10]:
test3(15, 125, 40, a = 5)  # ((15, 125, 40), 5)
# test3(a = 5)  # ((), 5) - no positional args
# test3()  # ERROR: TypeError - a not provided
# test3(15, 125, 40, 55)  # ERROR: TypeError - a not provided

((15, 125, 40), 5)

### Section 5: *args with Multiple Keywords

In [11]:
def test4(*abc, a, b, c, d):  # *abc, then keywords
    return abc, a, b, c, d

In [12]:
test4(51, 23, 115, 741, a = [54, 121, 84, "code"], b = [15, 48, 652], c = "string", d = 51.25)  # ((51, 23, 115, 741), [...], [...], "string", 51.25)

((51, 23, 115, 741), [54, 121, 84, 'code'], [15, 48, 652], 'string', 51.25)

### Section 6: Positional with *args

In [13]:
def test5(a, *abcd):  # a positional, *abcd rest
    return abcd, a

In [14]:
test5("code", "list", 56, 52.5, a = [45, 15])  # ERROR: Multiple values for a
# test5("code", "list", 56, 52.5)  # (('list', 56, 52.5), 'code')

TypeError: test5() got multiple values for argument 'a'

### Section 7: Returning First List from *args

In [15]:
def test6(*abc):  # *abc
    for i in abc:  # Iterate
        if type(i) == list:  # If list
            return i  # Return first list
    return "No list found"  # If no list

In [16]:
test6(545, 84854, 21, "code", [151, "a", False])  # [151, "a", False]
# test6(545, 84854, 21, "code", (151, "a", False))  # No list found
# test6(545, 84854, [21, "code"], (151, "a", False), [15, 48, 652])  # [21, "code"]

[151, 'a', False]

### Section 8: Returning All Lists from *args

In [17]:
def test7(*abc):  # *abc
    l = []  # Empty list
    for i in abc:  # Iterate
        if type(i) == list:  # If list
            l.append(i)  # Append
    return l  # Return all lists

In [18]:
test7(51, 541, 75.58, [15, 123, 158], False, [48, 258, 456], 1252.5)  # [[15, 123, 158], [48, 258, 456]]
# test7(51, 541, 75.58, (15, 123, 158), False, (48, 258, 456), 1252.5)  # []
# test7()  # [] - No args

[[15, 123, 158], [48, 258, 456]]

---
### Section 9: **kwargs for Keyword Args

In [19]:
d = {"a": [15, 25, 124], "b": [14, 28, 42]}  # Dict
d["a"]  # [15, 25, 124]

[15, 25, 124]

In [20]:
def test8(**kwargs):  # **kwargs collects keyword args as dict
    return kwargs

In [21]:
test8(124, 126, 25, 45)  # ERROR: TypeError - positional args not allowed
# test8(a = [15, 25, 124], b = [14, 28, 42])  # {'a': [15, 25, 124], 'b': [14, 28, 42]}

TypeError: test8() takes 0 positional arguments but 4 were given

In [22]:
test8(a = 15, b = [15, 30, 45])  # {"a": 15, "b": [15, 30, 45]}
# test8(a = 15, b = [15, 30, 45], c = (15, 25, 35), d = "code", e = False)  # Mixed types
# test8()  # {} - No args

{'a': 15, 'b': [15, 30, 45]}

In [23]:
def test8(*abc):  # Return first string inside any list
    for i in abc:
        if type(i) == list:
            for j in i:
                if type(j) == str:
                    return j
    return "No string found"

print(test8(123, [1, 2, "hello"], ["world", 5]))  # hello


def test8_1(*abc):  # Return all strings inside all lists
    l = []
    for i in abc:
        if type(i) == list:
            for j in i:
                if type(j) == str:
                    l.append(j)
    return l

print(test8_1(123, [1, "apple"], [3, "banana", 7]))  # ['apple', 'banana']


def test8_2(*abc):  # Return first element of first list
    for i in abc:
        if type(i) == list:
            it = iter(i)
            try:
                return next(it)
            except StopIteration:
                return "Empty list"
    return "No list found"

print(test8_2(123, [5, "apple", 7], [1, 2, 3]))  # 5
print(test8_2(123, [], [1, 2]))  # Empty list


def test8_3(*abc):  # Return first element of every list
    l = []
    for i in abc:
        if type(i) == list:
            it = iter(i)
            try:
                l.append(next(it))
            except StopIteration:
                l.append("Empty list")
    return l

print(test8_3(123, [1, 2, 3], [], ["a", "b"]))  # [1, 'Empty list', 'a']


def test8_4(*abc):  # Return all elements from all lists
    l = []
    for i in abc:
        if type(i) == list:
            it = iter(i)
            try:
                while True:
                    l.append(next(it))
            except StopIteration:
                pass
    return l

print(test8_4(123, [1, 2], ["a", "b"], "xyz", []))  # [1, 2, 'a', 'b']

hello
['apple', 'banana']
5
Empty list
[1, 'Empty list', 'a']
[1, 2, 'a', 'b']

### Section 10: **kwargs with Custom Name

In [24]:
d = {"a": [15, 25, 124], "b": [14, 28, 42]}  # Dict

In [25]:
d["a"]  # [15, 25, 124]

[15, 25, 124]

In [26]:
def test8(**kwargs):  # **kwargs collects keyword args as dict
    return kwargs

In [27]:
test8(124, 126, 25, 45)  # ERROR: TypeError - positional args not allowed

TypeError: test8() takes 0 positional arguments but 4 were given

In [28]:
test8(a = 15, b = [15, 30, 45])  # {"a": 15, "b": [15, 30, 45]}
# test8(a = 15, b = [15, 30, 45], c = (15, 25, 35), d = "code", e = False)  # Mixed types
# test8()  # {} - No args

{'a': 15, 'b': [15, 30, 45]}

### Section 10: **kwargs with Custom Name

In [29]:
def test9(**abc):  # Same
    return abc

In [30]:
test9(a = 4, b = [4, 8 ,12 ,6])  # {"a": 4, "b": [4, 8, 12, 6]}

{'a': 4, 'b': [4, 8, 12, 6]}

In [31]:
test9("a" = "abcdef")  # ERROR: SyntaxError - invalid key
# Keys must be valid identifiers
# test9()  # {} - No args

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1797206246.py, line 1)

In [32]:
test9(a = "abcdef")  # {"a": "abcdef"}

{'a': 'abcdef'}

In [33]:
test9(5 = "abcdef")  # ERROR: SyntaxError - key must be identifier
# function arguments must use valid parameter names (identifiers), not values like 5. 
# You cannot assign a value to a number in a function call.
# If your function expects a keyword argument, use a valid identifier: test9(arg="abcdef")
# If you want to pass 5 as a value, use positional arguments: test9(5)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (839631763.py, line 1)

### Section 11: **kwargs Example

In [34]:
def test10(**abc):  # **abc
    return abc

In [35]:
test10(name = "xyz", age = 15, phone_number = 987654321, mail_id = "xyz@email.com", address = "abcdefghij")  # Dict of args

{'name': 'xyz',
 'age': 15,
 'phone_number': 987654321,
 'mail_id': 'xyz@email.com',
 'address': 'abcdefghij'}

### Section 12: Positional with **kwargs

In [36]:
def test11(a, **abc):  # a positional, **abc
    return abc, a

In [37]:
test11(12, 25, 145, 35)  # ERROR: Positional after positional
# provides four positional arguments, which is not allowed.
# Only the first value goes to a. All others must be named (key=value) for **abc.

TypeError: test11() takes 1 positional argument but 4 were given

In [38]:
test11(15, a = 12, b = 154, c = 457, d = 11)  # ERROR: a provided twice
# Passing a both as a positional argument (15) and as a keyword argument (a=12).
# Python does not allow a parameter to be assigned more than once in a function call.
# Each parameter should be assigned only once per call.

TypeError: test11() got multiple values for argument 'a'

In [39]:
test11(15, t = 12, b = 154, c = 457, d = 11)  # ({"t": 12, "b": 154, "c": 457, "d": 11}, 15)
# test11(a = 15, t = 12, b = 154, c = 457, d = 11)  # ({'t': 12, 'b': 154, 'c': 457, 'd': 11}, 15)

({'t': 12, 'b': 154, 'c': 457, 'd': 11}, 15)

### Section 13: Invalid Syntax

In [40]:
def test12(a, **abc, *xyz):  # ERROR: ** before *
    return abc, a, xyz
# **kwargs must be the last parameter in a function definition.
# Any parameters after **kwargs cause a SyntaxError.

SyntaxError: arguments cannot follow var-keyword argument (1680015729.py, line 1)

In [41]:
def test13(a, *abc, **xyz):  # Correct order
    return a, abc, xyz

In [42]:
test13(1, 11, 15, 45, 36, 7, g = 4555, l = 78)  # (1, (11, 15, 45, 36, 7), {"g": 4555, "l": 78})

(1, (11, 15, 45, 36, 7), {'g': 4555, 'l': 78})

---
### Section 14: Lambda Basics

In [43]:
def test14(a, b):  # Regular function
    return a * b

In [44]:
test14(14, 12)  # 168

168

In [45]:
lambda a, b : a * b  # Lambda expression

In [46]:
a = lambda a, b : a * b  # Assign to variable

In [47]:
a(45, 15)  # 675

675

In [48]:
a = lambda a, b : (a * b, a + b)  # Multiple returns

In [49]:
a(10, 7)  # (70, 17)

(70, 17)

### Section 15: Lambda with *args

In [50]:
a = lambda *a : a  # *a

In [51]:
a(5, 12, 7)  # (5, 12, 7)

(5, 12, 7)

In [52]:
x = lambda *a : a * a  # ERROR: TypeError - tuple * tuple
# Tuple cannot be multiplied by another tuple.
# To perform element-wise multiplication, use a loop or a library like NumPy.
# Tuples can only be multiplied by integers (repeats the tuple).
# To multiply all values, use reduce(mul, a).

# If you want to multiply all arguments together, use functools.reduce and operator.mul:
# from functools import reduce
# from operator import mul
# x = lambda *a: reduce(mul, a)
# x(2, 5, 7)  # Returns 70

In [53]:
x(2, 5, 7)  # Error

TypeError: can't multiply sequence by non-int of type 'tuple'

In [54]:
x(4, 7)  # Error

TypeError: can't multiply sequence by non-int of type 'tuple'

In [55]:
v = lambda *i : i ** 2  # ERROR: TypeError - tuple ** int
# Tuples cannot be exponentially.
# You cannot use ** directly on a tuple.

# Use a loop or comprehension to apply ** to each element.
# v = lambda *i: [x ** 2 for x in i]
# v(12, 45)  # [144, 2025]

In [56]:
v(12, 45)

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

### Section 16: Invalid Lambda

In [57]:
x = lambda x: (for i in x : print(i))  # ERROR: SyntaxError - no for in lambda
# The error occurs because x by itself is not valid Python syntax.
# If x is a variable or function, you need to use it properly:
# To see its value, use print(x)
# To call it (if it's a function), use x(arguments)

SyntaxError: invalid syntax (4146554640.py, line 1)

In [58]:
x = lambda x: print(i) for i in x  # ERROR: SyntaxError
# The error is because you cannot use a for loop directly inside a lambda.
# Lambdas only allow expressions, not statements like for.
# To print each item in a list using a lambda, use a list comprehension: x = lambda x: [print(i) for i in x]

SyntaxError: invalid syntax (3731908976.py, line 1)

In [59]:
x = lambda x : [print(i) for i in x]  # Valid: list of prints

In [60]:
x([4, 6, 8, 10])  # Prints each, returns [None, None, None, None]

4
6
8
10

[None, None, None, None]

In [61]:
x = lambda x : [i for i in x]  # List comprehension

In [62]:
x([458, 123, 456])  # [458, 123, 456]

[458, 123, 456]

In [63]:
x = [lambda x : i for i in x]  # ERROR: List of lambdas, but i not defined
# You cannot iterate over a function.
# Call the function with appropriate arguments to use it.

TypeError: 'function' object is not iterable

### Section 17: List Comprehensions

In [64]:
l = [64, 45, 12, 78, 32]  # List

In [65]:
l1 = []  # Empty
for i in l:  # Loop
    l1.append(i)  # Append

In [66]:
l1  # [64, 45, 12, 78, 32]

[64, 45, 12, 78, 32]

In [67]:
[i for i in l]  # Comprehension: [64, 45, 12, 78, 32]

[64, 45, 12, 78, 32]

In [68]:
x = lambda x : [i for i in x]  # Lambda with comprehension

In [69]:
x(45)  # ERROR: int not iterable
# To avoid this error, always pass an iterable to functions expecting one.

TypeError: 'int' object is not iterable

In [70]:
x([12, 54, 32, 87, 5])  # [12, 54, 32, 87, 5]

[12, 54, 32, 87, 5]

### Section 18: Lambda with **kwargs

In [71]:
a = lambda **kwargs : kwargs  # **kwargs

In [72]:
a(a = 5, b = 75, c = 456)  # {"a": 5, "b": 75, "c": 456}

{'a': 5, 'b': 75, 'c': 456}

---
### Section 19: Variable Scope

In [73]:
a = 10  # Global
def test15(c, d):  # Function
    return c * d  # Uses only parameters

In [74]:
test15(a, 15)  # 150

150

In [75]:
a = 10
def test16(c, d):
    a = 5  # Local
    return c * d  # Uses parameters only

In [76]:
test16(a, 15)  # 150 # (local a not used)

150

In [77]:
a = 10
def test17(c, d):
    c = 5  # Local
    return c * d  # Uses local c

In [78]:
test17(a, 20)  # 100 (local c used)

100

In [79]:
c = 10  # Global
def test17(c, d):
    c = 5  # Local
    return c * d

In [80]:
test17(10, 50)  # 250 (local c)

250

In [81]:
c  # 10 (global unchanged)

10

### Section 20: List Comprehension Examples

In [82]:
l = [1, 2, 3, 4, 5, 6, 7, 88]  # List

In [83]:
l1 = []  # Empty
for i in l:  # Loop
    l1.append(i + 2)  # Add 2

In [84]:
l1  # [3, 4, 5, 6, 7, 8, 9, 90]

[3, 4, 5, 6, 7, 8, 9, 90]

In [85]:
def test18(a):  # Function
    l1 = []  # Local
    for i in a:
        l1.append(i + 2)
    return l1

In [86]:
test18(l)  # [3, 4, 5, 6, 7, 8, 9, 90]

[3, 4, 5, 6, 7, 8, 9, 90]

In [87]:
a = lambda a: [i + 2 for i in a]  # Lambda  comprehension

In [88]:
a(l)  # [3, 4, 5, 6, 7, 8, 9, 90]

[3, 4, 5, 6, 7, 8, 9, 90]

In [89]:
[i + 2 for i in l]  # Same

[3, 4, 5, 6, 7, 8, 9, 90]

In [90]:
[(i ** 2, i + i) for i in l]  # List of tuples

[(1, 2), (4, 4), (9, 6), (16, 8), (25, 10), (36, 12), (49, 14), (7744, 176)]

In [91]:
[(i ** 2, i + i) for i in l if i < 4]  # With condition: [(1, 2), (4, 4), (9, 6)]

[(1, 2), (4, 4), (9, 6)]

In [92]:
l1 = []  # Manual
for i in l:
    if i < 4:
        l1.append(i ** 2, i + i)  # ERROR: append takes one arg

TypeError: list.append() takes exactly one argument (2 given)

In [93]:
l1 = []
for i in l:
    if i < 4:
        l1.append((i ** 2, i + i))  # Correct

In [94]:
l1  # [(1, 2), (4, 4), (9, 6)]

[(1, 2), (4, 4), (9, 6)]

In [95]:
[(i ** 2, i + i) for i in l if i < 4 if i >= 3]  # Multiple conditions: [(9, 6)]

[(9, 6)]

### Section 21: Dict Comprehension

In [96]:
{i: i ** 2 for i in range(10)}  # {0: 0, 1: 1, ..., 9: 81}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [97]:
d1 = {}  # Manual
for i in range(10):
    d1[i] = i ** 2

In [98]:
d1  # Same

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

---
### Section 22: Generators

In [99]:
(i for i in range(10))  # Generator object

In [100]:
tuple(i for i in range(10))  # (0, 1, ..., 9)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### Section 23: Iterators

In [101]:
a = 56  # Int
for i in a:  # ERROR: TypeError - int not iterable
    print(i)

TypeError: 'int' object is not iterable

In [102]:
s = "code"  # String
for i in s:  # Iterable
    print(i)  # c o d e

c
o
d
e

In [103]:
next(s)  # ERROR: TypeError - str not iterator

TypeError: 'str' object is not an iterator

In [104]:
next(a)  # ERROR: TypeError

TypeError: 'int' object is not an iterator

In [105]:
iter(a)  # ERROR: TypeError - int not iterable

TypeError: 'int' object is not iterable

In [106]:
iter(s)  # Iterator
# NameError: name 's' is not defined

In [107]:
b = iter(s)  # Assign to variable

In [108]:
b  # <str_iterator object>

* **Iterable** → An object whose elements can be accessed **in sequence**; some iterables (like lists, tuples, strings) also **hold indexes** so you can access by position (`obj[0]`).
* **Indexing** → Accessing an element directly by its **position number** inside square brackets (`obj[0]` gives the first element).
* **Iterator** → An object that remembers the current position while accessing elements one-by-one in sequence (cannot be accessed directly by index).
* **`iter()`** → Makes an iterator from an iterable.
* **`next()`** → Gets the next element from the iterator in sequence.

**Example**
* String `"code"` is **iterable** because you can loop over it and also access characters by **indexing** (`"code"[0] → 'c'` for the first character). But it is **not** an iterator. By using `iter("code")`, it becomes an **iterator**, and you can use `next()` to get characters one by one without indexing.

In [109]:
next(b)  # 'c'

'c'

In [110]:
next(b)  # 'o'

'o'

In [111]:
next(b)  # 'd'

'd'

In [112]:
next(b)  # 'e'

'e'

In [113]:
next(b)  # ERROR: StopIteration

StopIteration:

In [114]:
s = "code"
for i in s:  # Internally uses iter and next    
    print(i)

c
o
d
e

In [115]:
next(s)  # ERROR

TypeError: 'str' object is not an iterator

In [116]:
s = iter(s)  # Make iterator

In [117]:
s  # <str_iterator>

In [118]:
next(s)  # 'c'

'c'

In [119]:
next(s)  # 'o'

'o'

In [120]:
next(s)  # 'd'

'd'

In [121]:
next(s)  # 'e'

'e'

In [122]:
next(s)  # StopIteration

StopIteration:

In [123]:
l = [1, 5, 11, 41, 112, 452, 23, 78]  # List

In [124]:
l  # List

[1, 5, 11, 41, 112, 452, 23, 78]

In [125]:
next(l)  # ERROR: TypeError

TypeError: 'list' object is not an iterator

In [126]:
l = iter(l)  # Iterator

In [127]:
next(l)  # 1

1

In [128]:
next(l)  # 5

5

-----